@import "tailwindcss";
@plugin "daisyui";
@plugin "@iconify/tailwind4";


@font-face {
    font-family: "vazirmant";
    src: url("/static/fonts/vazirmatn-wgh.woff2");
    width: "100 900";
}

@font-face {
    font-family: "yekan";
    src: url("/static/fonts/yekan.ttf");
    width: "400";
}

body {
    font-family: "vazirmant";
}
